{
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": false,
    "endOfLine": "auto",
    "printWidth": 180,
    "overrides": [
        {
            "files": "*.{js,ts}",
            "options": {
                "semi": false
            }
        }
    ]
}
